@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, sans-serif;
  background: $bg-light;
  color: $text-dark;
}

h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}
